<h2>
    Hi new product has been created!
</h2>
<p style="color: grey;">
    Congratulations you have created a new product and is live on Agrimart now.
</p>

<p>
<h4>
    Product Details:
</h4>
<ul>
    <li style="text-transform: capitalize;">
        <b>Product Name:</b> <%=name%>
    </li>
    <li style="text-transform: capitalize;">
        <b>Price:</b> <%=price%>
    </li>
    <li style="text-transform: capitalize;">
        <b>Category:</b> <%=category%>
    </li>
    <li>
        <b>Description:</b> <%=description%>
    </li>
    <li style="text-transform: capitalize;">
        <b>Minimum Order Quantity:</b> <%=minimumOrderQuantity%>
    </li>
    <li style="text-transform: capitalize;">
        <b>Product Created on:</b> <%=createdOn%>
    </li>
</ul>
</p>

<div style="margin-top: 20px;color: indigo;">
    <b>-AGRIMART</b><br />
</div>